@keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}

.circle {
  display: block;
  border-radius: 50%;
  position: absolute;
  animation: color_change 5s 1;
}
