.App {
  text-align: center;
  height: 100%;
}

.timer {
  margin: auto auto;
  font-size: 100px;
  color: black;
}

.score {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .failure {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 600px) {
  .failure {
    font-size: 10rem;
  }
}

.failure {
  margin: auto auto;
  color: red;
}

